body {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 8px 16px;
  }