body {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.fundo {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}